<link rel="stylesheet" type="text/css" href="../../pages/chaindata/chaindata.css">
<div>
  <div>
    <h1>Chain Data</h1>
  </div>
  <hr>
  <div>
    <h3>
      Your roles:
    </h3>
    <ul>
      <li ng-repeat="role in user.roles track by $index"><b>Role #{{$index + 1}} id: </b>{{role.id}}</li>
    </ul>
  </div>
  <hr>
  <div>
    <div ng-if="user">
      <!-- if user has been returned then check to see if the user has the role
      hence the ng-if, jus tmaking sure that the user has been returned from the backend -->
      <button ng-repeat="role in roles" ng-disabled="checkifUserCanAccess(role)" class="btn btn-primary rolebuttons">
        <a class="hyperlink" href="#/chain/view/data/{{role.id}}">{{role.returns}}</a>
      </button>
    </div>
  </div>
</div>
