<link rel="stylesheet" type="text/css" href="../../pages/viewchaindata/viewchaindata.css">
<div id="chainDataPage">
    <div ng-if="role">
        <h1>Talking to chain: <b>{{role.message}}</b></h1>
    </div>
    <hr>
    <div id="notloaded" ng-if="!(chaindata) && !(error)">
      <h1>
        <span class="fa fa-spinner fa-spin"></span>
      </h1>
    </div>
    <div ng-if="chaindata">
      <div>
        <b>Method: </b><i>{{chaindata.request.fcn}}</i>
      </div>
      <div>
        <b>Chaincode ID: </b><i>{{chaindata.request.chaincodeID}}</i>
      </div>
      <div>
        <b>Arguments: </b>
        <ul>
          <li ng-repeat="arg in chaindata.request.args"><i>{{arg}}</i></li>
        </ul>
      </div>
      <hr>
      <div>
        <h3><b>Value: </b><i>{{chaindata.results}}</i></h3>
      </div>
    </div>
    <div ng-if="error">
      <h3>{{error}}</h3>
    </div>
</div>
